@charset "utf-8";
@import "_var", "_mixin", "_function";

//pcHeader
 #mHeader{visibility: hidden;height: 0;overflow: hidden;}
 .header.on{background: #fff;}
 #pcHeader{
    @include flex;
    position: fixed; width: 100%;z-index: 1000;height: 90px;
    //뎁스2 흰배경
    &.active::before{
        content: "";position: absolute;top: 90px;left: 0;width: 100%;height: 475px;background: #fff;border-top: 1px solid #707070;border-bottom: 1px solid #707070;
    }
    
    .logo{
        @include flex;
        @include align-items;
        margin-left: vw-calc1920(340);
    }
    .lang{
        position: relative;margin-right: 64px;width: 85px;font-family: Roboto;font-weight: 400;font-size: 14px;height: 31px;
        button{
            position: relative;width: 100%;height: 19px;line-height: 19px;line-height: 0.75;text-align: left;
            &::after{
                content: "";position: absolute;top: 4px;right: 0; width: 12px;height: 12px;background: url("../images/common/p-header-lang-btn.png") no-repeat;
            }
        }
        ul{
            display: none;
            position: absolute;top: 31px;left: 0;width: 100%;border-top: 2px solid $lBlue; text-align: center;padding: 15px 20px;background: #eee;
            li{
                line-height: 2;color: $lGray;
                &:hover a, & a:focus{color: $dBlue;font-weight: 500;}
            }
        }
    }
    .header_right{
        @include flex;
        @include align-items;
        position: absolute;top: 0;right: vw-calc1920(340);height: 100%;
        .header_icon{
            @include flex;
            li + li{padding-left: 28px;}
        }
    }

    #pcGnb{
        > ul{
            @include flex;
            padding-left: 40px;
            > li{
                margin-right: vw-calc1920(45);
                > a{//height: 91px; -> 1px 보더를 포함하고 있는 헤더배경이 top: 90px이므로 헤더의 배경과 겹치게 하려고
                    position: relative; display: block;height: 91px;line-height: 90px;font-family: Roboto;font-weight: 400;text-align: center;z-index: 10;
                    &::before,&::after{content: "";position: absolute;}
                    &::before{bottom: 0;width: 100%;height: 5px;background: transparent;}
                }
                &:nth-child(1) a{width: 39px;}
                &:nth-child(2) a{width: 100px;}
                &:nth-child(3) a{width: 55px;}
                &:nth-child(4) a{width: 97px;}
                &:nth-child(5) a{width: 97px;}
                & > a:hover, & > a:focus, &.on > a{
                    border-bottom-color: $lBlue;font-weight: 500;color: $dBlue;
                    &::before{background: $lBlue;}
                }
            }
        }
        .dep2{
            @include flex;
            position: absolute;top: 91px;left: 0;width: 50%;height: 475px;padding: 55px 0; background: #fff;font-size: 18px;
            .menu_tit{width: 100px; margin-left: vw-calc1920(340);padding-right: 40px;border-right: 1px solid $lGray;color: $dBlue;}
            .dep2_cnt{
                position: relative; padding-left: 40px;border-right: 1px solid $lGray;color: $lGray;
                > li > a{ 
                    position: relative; display: block; width: 211px;
                }
                > li + li{margin-top: 20px;}
                > li > a:hover, > li > a:focus{
                    color: $dBlue;
                    &::after{content: "";position: absolute;top: 50%;right: 25px;width: 6px;height: 10px;background: url("../images/common/p-header-gnb.png");}
                }
            }
        }
        .dep2.on{visibility: visible;max-height: 460px;}
        .dep3{
            position: absolute;top: 0;right: -100%;width: 100%;height: 100%;padding-left: 20px;border-right: 1px solid $lGray;
            li + li{margin-top: 20px;}
            li > a:hover, li > a:focus{color: $dBlue;}
        }

        //banner: swiper slider
        .swiper-container{
            position: absolute;top: 91px;right: 0px;width: 50%;height: 460px;z-index: 800;
            .swiper-pagination{
                bottom: 70px;left: -150px;
                .swiper-pagination-bullet{
                    width: 12px;height: 12px;border: 1px solid #2c2b2b;border-radius: 50%;margin: 0 8px;background: #fff;
                    &.swiper-pagination-bullet-active{background: #dadada;border: 1px solid #a19a9a;}
                }
            }
        }

        .swiper-wrapper{
            top: -25px;
            .swiper-slide{
                @include flex;
                @include align-items;
                img{width: vw-calc1920(562);height: vw-calc1920(274);border-radius: 15px;}
            }
            
            .txtbox{
                margin-left: vw-calc1920(24);
                strong{
                    font-size: 32px;line-height: 38px;
                    span{color: $yellow;}
                }
                p{padding: 12px 0 30px;font-size: 19px;}
                a{display: block;width: vw-calc1920(155);height:  vw-calc1920(37); font-size: 13px;line-height: 2.8;color: #fff;background: $lBlue;border-radius: 9px;text-align: center;}
            }
        }
    }

}

//footer
#footer{
    .ft_body{
        padding-top: 132px;position: relative;
        &::before{content: "";position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: #d8d8d8;opacity: 0.29;z-index: -200;}
    }
    .ft_inner{
        width: 1240px;margin: 0 auto;
        .inner_top{
            @include flex;
            @include justify-content(space-between);
            .ft_logo{font-size: 25px;color: $dBlue;font-family: Roboto;}
        }
        .ft_menu{
            @include flex;
            ul{
                margin-left: 140px;font-family: Roboto;font-size: 18px;font-weight: 500;
                li{padding: 8px 0;}
                a:hover, a:focus{color: $lBlue;}
                &:nth-child(2){font-family: NotoSansKR;}
                &:nth-child(3){
                    a{display: block;position: relative;width: 115px;}
                    a::after{
                        @include translateY-50;
                        content: "";position: absolute;top: 50%;right: 0;width: 19px;height: 19px; background: url("../images/common/footer-sns.png") no-repeat 50% / cover;
                    }
                }
            }
            
        }
        .inner_bottom{
            margin-top: 85px;padding: 30px 0;border-top: 1px solid $lBlue;
            address{color: $lGray;line-height: 20px;}
        }
        .ft_bg{position: absolute;bottom: 0;left: 0;width: 100%;height: 320px; background: url("../images/common/footer-bg-daylight.svg") no-repeat 50% / cover;opacity: 0.05;z-index: -100;}
    }
    /* .btn_top{position: absolute;top: 106px;right: 99px;width: 25px;height: 15px;background: url("../images/common/footer-top-btn.png") no-repeat 50% / cover;z-index: 100;} */

    .ft_bottom{
        background: $dBlue;color: #fff;height: 50px;line-height: 50px;
        .ft_inner{
            @include flex;
            @include justify-content(space-between);
            span{font-weight: 700;}
        }
    }
}

#forTop{
    position: relative;z-index: 0;
    .btn_top{position: absolute;top: 400px;right: 99px;width: 25px;height: 15px;background: url("../images/common/footer-top-btn.png") no-repeat 50% / cover;z-index: 100;}
}
 
//작은pc : 1680px
@media screen and (max-width: 1680px) {
  //banner: swiper slider
  #pcHeader #pcGnb{
    .swiper-container{
        width: 45%;
        .swiper-pagination{left: -100px;}
    }
    .swiper-wrapper{       
      .txtbox{
          strong{font-size: 22px;}
          p{font-size: 15px;}
          a{font-size: 12px;}
      }
    } 
  }
}

//작은pc : 1440px
@media screen and (max-width: 1440px) {
    //#header
    #pcHeader{        
        .logo{margin-left: 12.7vw;}
        .header_right{right: 12.708333vw;}
    
        #pcGnb{
            .dep2{
                .menu_tit{margin-left: 10.708333vw;}
            }    
            //banner: swiper slider
            .swiper-container{
                width: 45%;
                .swiper-pagination{left: vw-calc1440(-100);}
            }
    
            .swiper-wrapper{
                .swiper-slide{
                    img{width: vw-calc1440(450);height: vw-calc1440(274);}
                }
                .txtbox{
                    strong{font-size: 23px;}
                    p{font-size: 15px;}
                    a{font-size: 9px;}
                }
            }
        }
    
    }
}


//태블릿 : 1024px
@media screen and (max-width: 1024px) {
    //header 
    #pcHeader{display: none;}
    #pcCnt1{display: none;}
    #mHeader{visibility: visible;height: 100px;overflow: visible;}

    #mHeader{
        position: absolute;z-index: 900;width: 100%;background: $dBlue;
        .logo{
            @include translate-50;
            position: absolute;top: 50%;left: 50%;
            img{width: 170px;}
        }
        .m_util{
            @include flex;
            @include justify-content(space-between);
            @include align-items;
            height: 100%;margin: 0 50px;
            .btn_gnb_open{
                @include transform(rotate(180deg));
            }
        }
    }

    //footer
    #footer{
        .ft_body{padding-top: 65px;}
        .ft_inner{
            width: 718px;
            .inner_top{
                @include flex-direction;
                @include flex-wrap;
                .ft_logo{font-size: 30px;margin-bottom: 24px;}
            }
            .ft_menu{
                @include flex-direction;
                @include flex-wrap;
                font-size: 20px;
                ul{
                    margin-left: 0;padding: 35px 0;
                    &:nth-child(3){a{width: 125px;}}
                }
                ul + ul{border-top: 1px solid $lBlue;}
            }
            .inner_bottom{
                padding: 0 0 25px;border-top: none;
            }
        }
    }       
}

//태블릿 : 768px
@media screen and (max-width: 768px) {
    //header 
    #pcHeader{display: none;}
    #pcCnt1{display: none;}
    #mHeader{visibility: visible;height: 100px;overflow: visible;}

    #mHeader{
        position: absolute;z-index: 900;width: 100%;background: $dBlue;
        .logo{
            @include translate-50;
            position: absolute;top: 50%;left: 50%;
            img{width: 170px;}
        }
        .m_util{
            @include flex;
            @include justify-content(space-between);
            @include align-items;
            height: 100%;margin: 0 50px;
            .btn_gnb_open{
                @include transform(rotate(180deg));
            }
        }
    }

    //footer
    #footer{
        .ft_body{padding-top: 65px;}
        .ft_inner{
            width: 93.48958vw; //718px; 718 ~ 414에서는 가로에 스크롤이 생겨요
            .inner_top{
                @include flex-direction;
                @include flex-wrap;
                .ft_logo{font-size: 30px;margin-bottom: 24px;}
            }
            .ft_menu{
                @include flex-direction;
                @include flex-wrap;
                font-size: 20px;
                ul{
                    margin-left: 0;padding: 35px 0;
                    &:nth-child(3){a{width: 125px;}}
                }
                ul + ul{border-top: 1px solid $lBlue;}
            }
            .inner_bottom{
                padding: 0 0 25px;border-top: none;
            }
        }
    }       
}

//모바일
@media screen and (max-width: 414px) {
    //header 
    #mHeader{height: vw-calc414(100);}

    #mHeader{
        .logo{
            img{width: vw-calc414(150);}
        }
        .m_util{margin: 0 vw-calc414(30);}
    }

    //footer
    #footer{
        .ft_body{padding-top: vw-calc414(65);}
        .ft_inner{
            width: vw-calc414(384);
            .inner_top{
                .ft_logo{font-size: vw-calc414(30);margin-bottom: vw-calc414(24);}
            }
            .ft_menu{
                font-size: vw-calc414(20);
                ul{
                    padding: vw-calc414(35) 0;
                    &:nth-child(3){a{width: vw-calc414(125);}}
                }
                ul + ul{border-top-width: vw-calc414(1)}
            }
            .inner_bottom{
                padding: 0 0 vw-calc414(25);
            }
        }
    }   
}