@charset "utf-8";
@import "_var", "_mixin", "_function";

//pc, mobile 공통
#wrap{
    h2{font-family: Roboto;font-weight: 500;color: $dBlue;}    
}

.cnt1{
    height: 100vh;
    .txtwrap{
        h3{font-family: Roboto;font-weight: 500;color: $dBlue;}
        p{font-size: 20px;}
    }
}
#cnt4{height: 100vh;}
.up{
    @include transform(translateY(50px));
    opacity: 0;
}
.slick-active .up{
    @include animation(fadeUp 1.5s forwards); //keyframes는 common에 작성함 -> 맨 밑 배너의 fadeUp효과는 서브페이지에도 있는 것이므로 
}  

//pc
#mCnt1{visibility: hidden;height: 0;overflow: hidden;}
#wrap h2{
    font-size: 50px;text-align: center;
}
//#pcCnt1
#pcCnt1{
    margin-top: 90px;
    .cursorDrag{position: absolute;top: -100px;left: -100px; z-index: 1;width: 100px;height: 100px;opacity: 0.8;}
    .slick-wrapper{
        position: relative;/* background: pink; */
        &::before{content: "";position: absolute;top: 0;left: -595px; width: 1639px;height: 847px;border: 1px solid #707070;border-radius: 400px;}
        .slide1::after, .slide2::after, .slide3::after{content: "";position: absolute;top: -30px;right: -50px;width: 766px;height: 766px;z-index: -1;}
        .slide1, .slide3{
            &::after{
                @include animation(moveCircle 5s 0s infinite);
                background: url("../images/main/p-circle766-yellow.jpg");
            }
        }
        .slide2{
            &::after{
                @include animation(moveCircle 5s 0.2s infinite);
                background: url("../images/main/p-circle766-blue.jpg");
            }
        }
    }
    .slick-slide{
        @include flex;
        @include justify-content(space-between);
        @include align-items;
    }
    .txtwrap{
        margin-right: 140px;@include translateY-50;
        h3{font-size: 100px;}
        p{padding: 13px 0;line-height: 40px;}
        .word, .word .up{display: inline-block;}
    }
    .apptxt{margin-right: 325px;}
    .pc-slick-dots li{
        width: 20px;height: 20px;background: #f2cb05;box-shadow: 5px 0 15px 0 #f2cb05;border-radius: 50%;opacity: 0.3;cursor: pointer;
        position: absolute;
        &::after{font-size: 25px;opacity: 0.5;position: absolute;top: 20px;width: 150px;}
        &:nth-child(1){
            top: 217px;left: 936px;
            &::after{content: "IKEA Lab";left: -5px;}
        }
        &:nth-child(2){
            top: 50%;left: 1035px;
            &::after{content: "IKEA App";left: -20px;}
        }
        &:nth-child(3){
            bottom: 195px;left: 986px;
            &::after{content: "Sustainability";left: -20px;}
        }
        &.slick-active{
            @include animation(pagi 2s 0.2s 1 forwards);
        }
    }
    .pc-slick-dots li button{opacity: 0;}
}

//#cnt2
#cnt2{
    .cnt2_wrap{
        display: grid;grid-template-rows: 22.4vw 20vw 6.56vw 20.05vw;grid-template-columns: 31.25% 37.5% 31.25%;
        div img{width: 100%;height: 100%;}
        div:nth-child(1){
            grid-row: 2;grid-column: 2;background: $yellow;
            .border{
                position: relative; width: 657px;height: 298px;margin: 0 auto;
                &::before{content: "";position: absolute; width: 657px;height: 298px;top: 50px;left: 0;border: 2px solid #fff;}
            }
            h2{
                position: relative;padding-top: 30px;width: 400px;margin: 0 auto;z-index: 1;background: $yellow;
            }
            p{padding: 50px 0 35px 0;text-align: center;font-size: 30px;line-height: 1.2;}
            a{
                margin: 0 255px;line-height: 20px;vertical-align: middle;padding: 14px 18px 14px 30px;
                &::after{left: 16px;}
            }
        }
        .photo1{grid-row: 1 / 4;grid-column: 1;}
        .photo2{grid-row: 1;grid-column: 2;}
        .photo3{grid-row: 1 / 3;grid-column: 3;}
        .photo4{grid-row: 4;grid-column: 1;}
        .photo5{grid-row: 3 / 5;grid-column: 2;}
        .photo6{grid-row: 3 / 5;grid-column: 3;}
        .photo{
            position: relative;
            .hover_box{position: absolute;top: 0;left: 0;bottom: 0;right: 0;}
            .hover_info{
                position: absolute;font-size: 18px;text-align: center;height: 200px;
                &::before{
                    @include animation(cnt2Hover 2s 0.2s infinite forwards);
                    content: "";position: absolute;width: 70px;height: 70px;bottom: -80px;left: 37px;background: rgba(0, 0, 0, .5) url("../images/main/cnt2-hover.png") no-repeat 50%;border-radius: 50%;z-index: 100;
                }
                //&:hover::before{@include animation(rotate 2s 0.2s infinite);bottom: -80px;left: 50%;}
                p{position: relative;z-index: 100; width: 144px;background: #fff;border-radius: 20px;border: solid 1px #4e4e4e;visibility: hidden;overflow: hidden;max-height: 0px;}
                &.on p{visibility: visible;overflow: visible;max-height: 200px;}
                span{display: inline-block;} 
                span{display: inline-block;}
                .blueTxt{font-size: 25px;color: $lBlue;font-family: Roboto;margin-top: 17px;}
                .nameTxt{font-size: 18px;color: $lGray;margin: 17px 0;}
                .price{font-size: 18px;color: $dGray;line-height: 1.2;margin-bottom: 17px;}
            }
            .hover_box1{
                .info1{
                    top: 401px;left: 438px;
                    &::before{animation-delay: 3s;}
                    //animation: name duration timing-function delay iteration-count direction fill-mode;
                }
                .info2{top: 196px;left: 5px;}
            }
            .hover_box2{
                .info1{top: 20px;right: 50px;}
                .info2{
                    top: 50px;left: 50%;
                    &::before{animation-delay: 3s;}
                }
            }
            .hover_box3{
                .info1{
                    top: 20px;right: 50px;
                    &::before{animation-delay: 3s;}
                }
                .info2{top: 30px;left: calc(50% - 100px);}
            }
            .hover_box4{
                .info1{top: -60px;left: calc(50% - 100px);}
                .info2{
                    top: 50px;left: calc(50% - 100px);
                    &::before{animation-delay: 3s;}
                }
            }
            .hover_box5{
                .info1{
                    top: -100px;right: 50px;
                    &::before{animation-delay: 3s;}
                }
                .info2{bottom: 100px;left: 50%;}
            }
            .hover_box6{
                .info1{
                    top: 20px;left: calc(50% - 100px);
                }
            }
            .hover_info:hover::before, .hover_info:focus::before{@include animation(rotate 2s 0.2s infinite);}
        }
    }
}

//#cnt3
#cnt3{
    position: relative; height: 200vh;padding: 0 340px;overflow: hidden;
    &::before{
        @include transform(rotate(-73deg));
        @include animation(circleRotate 10s 0.2s infinite);
        content: "";position: absolute;width: 1874px;height: 1874px; top: -350px;left: -667px;z-index: -1;background: url("../images/main/circle1874-combi.png") no-repeat 50% / cover;
    }
    #atc1{
        height: 30%;
        position: relative; padding: 150px 0;
        &::before{content: "";position: absolute;top: -219px;right: -538px; width: 562px;height: 562px;background: url("../images/main/circle562-yellow.png") no-repeat 50% / cover;z-index: -1;}
        .search{
            float: right;
            input{width: 150px;height: 20px;border: 2px solid #a3a2a2;border-radius: 4px;padding-left: 4px;font-size: 12px;}
            button img{vertical-align: middle;margin-left: 13px;}
        }
        ul{
            @include flex;
            @include justify-content;
            margin-top: 110px;
            li{
                width: 90px;height: 100px;
                a:hover p, a:focus p{color: $dGray;}
                p{padding-top: 23px;text-align: center;color: $lGray;}
            }
            li + li{margin-left: 75px;}
        }
    }

    #atc2{
        position: relative;height: 65%;
        &::before{content: "";position: absolute;bottom: 100px;right: -538px; width: 413px;height: 413px;background: url("../images/main/circle413-blue.png") no-repeat 50% / cover;z-index: -1;}
        h2{text-align: left;}

        #atcTab{
            width: 100%;height: 100%;
            @include flex;
            @include justify-content(space-between);
            @include flex-direction(row-reverse);

            ul{
                width: 60px;height: 290px;border-radius: 40px;background: #7093AA;font-family: Roboto;font-size: 18px;color: #fff;text-align: center;font-weight: 400;margin-top: 300px;box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
                .tab{
                    position: relative; width: 100%;height: 97px;cursor: pointer;line-height: 5;
                    &::after{
                        content: "";position: absolute; top: 40%;left: -15px;opacity: 0; width: 1px;height: 1px;border-right: 19px solid transparent;border-top: 6px solid transparent;border-bottom: 6px solid transparent;
                    }
                }
                .tab.active{
                    background: #0E4970;border-radius: 30px;height: 97px;font-weight: 500;transition-duration: 0.5s;transition-timing-function: ease-in-out;transition-property: background-color;
                    &::after{
                        @include transition(transform 0.2s);
                        @include transform(translateX(-4px));
                        border-right-color: #0E4970;opacity: 1;
                    }
                }
            }
            .tabpanel{display: none;width: 1185px;height: 1000px;margin-top: 150px;}
            .tabpanel.active{display: block;}
            .swiper-container{
                overflow: visible;
                .swiper-slide{
                    @include flex;
                    @include justify-content(center);
                    img{margin-left: 68px;width: 550px;}
                }
                .controller{
                    position: relative;overflow: visible;
                    top: 0px;left: 0; width: 100%;height: 190px;margin-top: 100px;
                    .swiper-pagination{
                        @include translateX-50;
                        left: 50%;width: 100%;height: 100%;
                        .swiper-pagination-bullet{width: 150px;height: 150px;border-radius: 0;background: no-repeat 50% / cover;opacity: 1;}
                        .swiper-pagination-bullet-active{box-shadow: 5px 0 15px 0 rgba(0, 0, 0, .2);}
                        span + span{margin-left: 30px;}     
                    }
                    .swiper-button-prev::after, .swiper-button-next::after{display: none;}
                    .swiper-scrollbar{
                        width: 70%;height: 7px;position: absolute;bottom: -45px;left: 180px;background: $lGray;opacity: 0.5;
                        }
                }
            }
            .swiper-scrollbar-drag{width: 100%;background: $yellow;}
            #tabpanel1{
                .swiper-pagination-bullet:nth-child(1){background-image: url("../images/product/new/solvinden.png");}
                .swiper-pagination-bullet:nth-child(2){background-image: url("../images/product/new/toemmerby.png");}
                .swiper-pagination-bullet:nth-child(3){background-image: url("../images/product/new/torparoe.png");}
                .swiper-pagination-bullet:nth-child(4){background-image: url("../images/product/new/padrag.png");}
                .swiper-pagination-bullet:nth-child(5){background-image: url("../images/product/new/hildamaria.png");}
            }
            #tabpanel2{
                .swiper-pagination-bullet:nth-child(1){background-image: url("../images/product/sale/taernaby.png ");}
                .swiper-pagination-bullet:nth-child(2){background-image: url("../images/product/sale/nikkeby.png");}
                .swiper-pagination-bullet:nth-child(3){background-image: url("../images/product/sale/hoegsten.png");}
                .swiper-pagination-bullet:nth-child(4){background-image: url("../images/product/sale/surnadal.png");}
                .swiper-pagination-bullet:nth-child(5){background-image: url("../images/product/sale/lisabo.png");}
            }
            #tabpanel3{
                .swiper-pagination-bullet:nth-child(1){background-image: url("../images/product/best/mulig.png");}
                .swiper-pagination-bullet:nth-child(2){background-image: url("../images/product/best/patrull.png");}
                .swiper-pagination-bullet:nth-child(3){background-image: url("../images/product/best/hilja.png");}
                .swiper-pagination-bullet:nth-child(4){background-image: url("../images/product/best/muddus.png");}
                .swiper-pagination-bullet:nth-child(5){background-image: url("../images/product/best/arstid.png");}
            }
            .tabTxt{
                margin-top: 173px;margin-left: 80px;
                #txtTop{
                    .name_price{
                        margin: 35px 0 30px 10px;
                        p{
                            width: 250px;
                            span:nth-child(1){font-size: 22px;line-height: 35px;}
                            span:nth-child(2){display: inline-block; font-size: 30px;line-height: 35px;color: #D98C8C;font-weight: 700;margin-top: 44px;}
                        }
                    }
                    a{margin-left: 10px;}
                }
                #txtBottom{
                    margin-top: 65px;
                    .tip{
                        position: relative;padding: 0 35px 0 20px;
                        &::after{content: "";position: absolute;top: 6px;left: 0;width: 1px;height: 1px;border-left: 11px solid #777777;border-top: 6px solid transparent;border-bottom: 6px solid transparent;}
                    }
                    .wish{
                        position: relative;padding-left: 25px;
                        &::after{content: "";position: absolute;width: 17px;height: 15px; top: 6px;left: 0;background: url("../images/main/cnt4-shoppingCart.jpg") no-repeat 50% / cover;}
                    }
                    .tip:hover, .tip:focus, .wish:hover, .wish:focus{color: $lBlue;}
                }
            }
            #tabpanel2{
                #txtTop{
                    span:nth-child(2){font-size: 15px;color: $dGray;text-decoration: line-through;}
                    span:nth-child(3){display: block; font-size: 30px;line-height: 35px;color: #D98C8C;font-weight: 700;}
                }
            }
        }
    }
}

#cnt4{
    position: relative;background: url("../images/main/cnt5-bg.jpg") no-repeat 50% / cover;
    &::before{content: "";position: absolute;top: 0;left: 0;bottom: 0;right: 0;background: rgba(0, 0, 0, .7);}
    .cnt4_wrap{
        @include flex;
        @include justify-content(space-between);
        height: 100%;padding: 240px 340px;color: #fff;
    }
    .txtbox,.time_img{position: relative;}
    .txtbox{
        h2{color: $yellow;text-align: left;}
        .tit{margin: 41px 0 90px;font-size: 30px;line-height: 2;letter-spacing: 3px;font-weight: 700;}
    }
    .golive{
        @include flex;
        @include justify-content(space-between);
        a{display: block; position: relative;}
        a::after{
            @include translateY-50;
            content: "";position: absolute;top: 50%;width: 20px;height: 21px; background: no-repeat;
        }
        .prev{
            padding-left: 43px;
        }
        .next{padding-right: 43px;}
        .prev::after{
            background: url("../images/main/yellowLeft-arrow.png");left: 0;
        }
        .next::after{background: url("../images/main/yellowRight-arrow.png");right: 0;}
        .prev:hover::after, .prev:focus::after{@include animation(movemoreLeft 1s 0.3s 3 forwards);}
        .next:hover::after, .next:focus::after{@include animation(movemoreRight 1s 0.3s 3 forwards);}

    }
    .time_img{
        width: 648.1px;height: 468.7px;
        .photo_box{
            position: relative; width: 100%;height: 100%; background: url("../images/main/cnt5-mockup.png") no-repeat 50% / cover;
            .mask{
                position: absolute;overflow: hidden; top: 7.4px;left: 7.6px;width: 632px;height: 452.4px;border-radius: 20px;
                &:hover .photo_effect{transform: scale(1.05);}
            }
        }
        .photo_effect{
            position: relative;width: 674px;height: 493px;transition: transform 0.5s cubic-bezier(0.25, 0.45, 0.46, 0.84);
            img{position: absolute;top: -10%;left: -10%; width: 120%;transition: transform 0.5s cubic-bezier(0.25, 0.45, 0.46, 0.84);}
        }
        .timer{
            @include translateY-50;
            position: absolute;width: 632px;height: 177px;border: 1px solid #000;z-index: 100;top: 50%;left: 0;text-align: center;font-size: 37px;line-height: 1.4;padding: 35px 0;
            &::before{content: "";position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0, 0, 0, .7);z-index: -1;}
            .remain{
                @include flex;
                @include align-items;
                @include justify-content;
    
            }
        }
    }
}

//태블릿
@media screen and (max-width: 768px) {
    #pcCnt1{display: none;}
    #cnt2{display: block;}
    #mCnt1{visibility: visible;height: 100vh;overflow: visible;}
    //mCnt1
    #mCnt1{
        overflow: hidden;
        .slick-container, .slick-wrapper, .slick-list, .slick-track, .slick-slide{height: 100%;}
        .slick-container{position: relative;}
        .slick-slide{
            position: relative;height: 100vh;
            &::before{
                content: "";position: absolute;top: 0;left: 0;height: 100vh;width: 100%;background: no-repeat 50% / cover;
            }
            &.slide1::before{background-image: url("../images/main/m-cnt1-bg1.jpg");}
            &.slide2::before{background-image: url("../images/main/m-cnt1-bg2.jpg");background-position: -108px 50%;}
            &.slide3::before{background-image: url("../images/main/m-cnt1-bg3.jpg");background-position: -108px 50%;}
        }
        svg{
            position: relative;width: 100%;height: 100%;
            polygon{position: absolute;top: 0;left: 0; background: #5B5B5B;opacity: 0.8;}
        }
        .txtwrap{
            position: absolute;top: 423px;left: 99px;z-index: 100;@include translateY-50;
            h3{font-size: 60px;color: $yellow;margin-bottom: 24px;}
            p{font-size: 20px;line-height: 35px;text-align: left;color: #fff;margin-left: 18px;}
            .arrowright{position: absolute;}
            .word, .word .up{display: inline-block;}   
                
        
        }
        .slide1 .arrowright{top: 302px;left: 255px;}
        .slide2 .arrowright{top: 197px;left: 280px;}
        .slide3 .arrowright{top: 234px;left: 165px;}
        .controller{
            @include flex;
            @include justify-content(space-between);
            @include align-items;
            position: absolute;bottom: 0;left: 0;z-index: 200;width: 100%;padding: 0 65px 45px 115px;height: 95px;
            .m-slick-pagination{
                .m-slick-dots{
                    @include flex;
                    @include justify-content(space-between);
                    width: 70px;color: #C5BABA;font-size: 20px;
                    li{
                        button::before{content: "";position: absolute;width: 768px;height: 5px;background: #000;border: solid 1px #707070;background-color: #858383;bottom: 0;left: 0;}
                        button::after{content: "";position: absolute;width: 0;height: 8px;background: #e3e3e3;bottom: 0;left: 0;z-index: 10;}
                    }
                    li.slick-active{
                        color: #fff;font-size: 22px;
                        button::after{
                            @include animation(loadingBar 6s 0.2s forwards);
                        }
                    }
                }
            }
            .slick-auto button{
                position: absolute;width: 53px;height: 53px;top: 0;right: 65px;visibility: hidden;
                i::before{font-size: 50px;color: rgba(146, 146, 146, 0.8)}
            }
            @include keyframes(loadingBar) {
                0%{width: 0;}
                100%{width: 768px;}
              }
        }
    }

    //#cnt2
    #cnt2{
        .cnt2_wrap{
            display: grid;grid-template-rows: 250px 580px 580px 580px 580px;grid-template-columns: 100%;
            div{
                img{
                width: 400px;height: 533px;}
            }
            .photo{
                @include flex;
                @include justify-content(space-between);
                position: relative; 
                grid-column: 1;
                
            }
            .mcnt2_tit{
                font-size: 80px;line-height: 80px; color: #dadada;margin-top: 40px;
                span:nth-child(2){display: block;margin-left: 54px;}
            }
            .photo1, .photo3{
                @include flex-direction(row-reverse);margin-right: 68px;
                img{box-shadow: 30px 30px 0 rgba(127, 127, 127, 0.17);}
                //.mcnt2_tit{@include transform(translate(200px,0))}
            }
            //.photo{&.fade{@include transform(translate(0,0))}}
            .photo2{
                margin-left: 65px;
                img{box-shadow: -30px 10px 0 rgba(218, 218, 218, .17);}
            }
            .photo4{
                margin-left: 52px;
                img{box-shadow: -30px 10px 0 rgba(218, 218, 218, .17);}
            }
            div:nth-child(1){
                @include flex;
                @include justify-content;
                @include align-items;
                grid-row: 1;grid-column: 1;background: #fff;
                .border{
                    position: static; width: 657px;height: 298px;margin: 0 auto;
                    &::before{content: "";position: absolute; width: 657px;height: 298px;top: 50px;left: 0;border: 2px solid transparent}
                }
                h2{
                    position: relative;padding-top: 30px;width: 400px;margin: 0 auto;z-index: 1;background: #fff;
                }
                p{padding: 50px 0 35px 0;text-align: center;font-size: 30px;line-height: 1.2;}
                a{
                    margin: 0 255px;line-height: 20px;vertical-align: middle;padding: 14px 18px 14px 30px;
                    &::after{left: 16px;}
                }
            }
            .btn_more{position: absolute;}
            .photo1{
                grid-row: 2;
                .btn_more{right: 0;top: 100px;}
            }
            .photo2{
                grid-row: 3;
                .btn_more{left: 0;top: 140px;}
            }
            .photo3{
                grid-row: 4;
                .btn_more{right: -40px;top: 100px;}
            }
            .photo4{
                grid-row: 5;
                .btn_more{left: 0;top: 220px;}
            }
            .photo{
                position: relative;
                .hover_box{position: absolute;top: 0;left: 0;bottom: 0;right: 0;}
                .hover_info{
                    position: absolute;font-size: 18px;text-align: center;height: 200px;top: 0;left: 0;
                    &::before{
                        @include animation(cnt2Hover 2s 0.2s infinite forwards);
                        content: "";position: absolute;width: 70px;height: 70px;bottom: -80px;left: 37px;background: rgba(0, 0, 0, .5) url("../images/main/cnt2-hover.png") no-repeat 50%;border-radius: 50%;z-index: 100;
                    }
                    p{position: relative;z-index: 100; width: 144px;background: #fff;border-radius: 20px;border: solid 1px #4e4e4e;visibility: hidden;overflow: hidden;max-height: 0px;}
                    &.on p{visibility: visible;overflow: visible;max-height: 200px;}
                    span{display: inline-block;} 
                    span{display: inline-block;}
                    .blueTxt{font-size: 25px;color: $lBlue;font-family: Roboto;margin-top: 17px;}
                    .nameTxt{font-size: 18px;color: $lGray;margin: 17px 0;}
                    .price{font-size: 18px;color: $dGray;line-height: 1.2;margin-bottom: 17px;}
                }
                .hover_box1{
                    .info1{
                        top: 0;left: 0;
                        &::before{animation-delay: 3s;}
                    }
                    .info2{top: 50px;left: 230px;}
                }
                .hover_box2{
                    .info1{top: 10px;left: 400px;}
                    .info2{
                        top: 50px;right: 50px;
                        &::before{animation-delay: 3s;}
                    }
                }
                .hover_box3{
                    .info1{
                        top: 20px;right: 50px;
                        &::before{animation-delay: 3s;}
                    }
                    .info2{top: 30px;left: calc(50% - 100px);}
                }
                .hover_box4{
                    .info1{top: 0;left: 400px;}
                    .info2{
                        top: 50px;left: 500px;;
                        &::before{animation-delay: 3s;}
                    }
                }
                .hover_info:hover::before{@include animation(rotate 2s 0.2s infinite);}

                
            }
        }
    }
    
    

    #cnt3{
        padding: 0 60px;height: 170vh;
        &::before{top: 50px;left: -1167px;}    
        #atc1{
            padding: 180px 0;
            &::before{right: -350px;}
            .search{
                @include flex;
                @include justify-content;
                width: 100%;margin-top: 40px;
                input{width: 190px;height: 25px;}
                button img{margin-left: 20px;}
            }
            ul{
                @include align-items;
                @include flex-wrap;
                margin-top: 65px;
                li{
                    margin-top: 53px;width: 100px;
                    img{width: 80px;margin-left: 10px;}
                    p{padding-top: 8px;}
                }
                li + li{margin-left: 50px;}
                li:nth-child(5){margin-left: 0;}
            }
        }

        #atc2{
            height: 43%;
            &::before{/* bottom: 100px;width: 413px;height: 413px; */right: -338px;}
    
            #atcTab{
                @include justify-content;
                @include align-items;
                @include flex-direction;
                margin-top: 150px;
    
                ul{
                    width: 290px;height: 40px;/* border-radius: 40px; *//* font-size: 18px; *//* margin-top: 300px;box-shadow: 0 5px 15px rgba(0, 0, 0, .3); */
                    .tab{
                        display: inline-block;width: 93px;height: 100%;line-height: 2.3;
                        &::after{
                            top: 30px;left: 44%;/* width: 1px;height: 1px; */border-right-width: 6px;border-top-width: 19px;border-bottom: none;border-left: 6px solid transparent;
                        }
                    }
                    .tab.active{
                        /* border-radius: 30px; */height: 100%;
                        &::after{
                            @include transform(translateY(8px));
                            border-top-color: #0E4970;border-right-color: transparent;
                        }
                    }
                }
                .tabpanel{/* width: 1185px;height: 1000px; */margin-top: 55px;}
                .swiper-container{
                    .swiper-slide{
                        @include align-items;
                        img{margin-left: 0;width: 340px;}
                        position: relative;
                    }
                    .controller{
                        /* height: 190px; */margin-top: 135px;
                        .swiper-pagination{
                            .swiper-pagination-bullet{width: 90px;height: 80px;}
                            /* span + span{margin-left: 30px;} */     
                        }
                        .swiper-scrollbar{width: 30%;/* height: 7px; */bottom: 48px;left: 37%;}
                    }
                }
                .tabTxt{
                    margin-top: 0;margin-left: 60px;
                    #txtTop{
                        .name_price{
                            margin: 15px 0 14px 25px;
                            p{
                                /* width: 250px; */
                                /* span:nth-child(1){font-size: 22px;line-height: 35px;} */
                                span:nth-child(2){ /* font-size: 30px;line-height: 35px; */margin-top: 30px;}
                            }
                        }
                        /* a{margin-left: 10px;} */
                    }
                    #txtBottom{
                        position: absolute; margin-top: 48px;bottom: -40px;left: 40%;width: 100%;
                        /* .tip{
                            padding: 0 35px 0 20px;
                            &::after{top: 6px;width: 1px;height: 1px;border-left: 11px solid #777777;border-top: 6px solid transparent;border-bottom: 6px solid transparent;}
                        } */
                        /* .wish{
                            padding-left: 25px;
                            &::after{width: 17px;height: 15px; top: 6px;}
                        } */
                    }
                }
                /* #tabpanel2{
                    #txtTop{
                        span:nth-child(2){font-size: 15px;}
                        span:nth-child(3){font-size: 30px;line-height: 35px;}
                    }
                } */
            }
        }
    
    
    }

    #cnt4{
        height: 634px;
        .cnt4_wrap{
            @include flex-wrap;
            @include flex-direction;
            padding: 0;
        }
        .txtbox,.time_img{position: absolute;}
        .txtbox{
            @include translateX-50;
            width: 100%; height: 100%;top: 0;left: 50%;padding: 28px 0 26px 0;
            h2{text-align: center;}
            .tit{margin: 9px 0 35px;/* font-size: 30px; *//* letter-spacing: 3px; */text-align: center;}
        }
        .golive{
            position: absolute;bottom:55px;left: 175px;
            a::after{
                /* width: 20px;height: 21px; */
            }
            .prev{/* padding-left: 43px; */padding-right: 50px;}
            .next{/* padding-right: 43px; */}
        }
        .time_img{
            @include translateX-50;
            width: 385px;height: 278px;top: 255px;left: 50%;
            .photo_box{
                .mask{/* top: 7.4px;left: 7.6px; */width: 370px;height: 263px;/* border-radius: 20px; */}
            }
            .photo_effect{
                width: 424px;height: 268px;
                img{left: -20%;z-index: -1;}
            }
            .timer{width: 377px;height: 105px;z-index: 100;font-size: 21px;padding: 20px 0;}
        }
    }
    
    
}

//모바일
@media screen and (max-width: 414px) {
    #mCnt1{
        svg{
            top: vw-calc414(50);width: vw-calc414(414);height: 100%;width: 100%;
        }
        .txtwrap{
            top: vw-calc414(333);left: vw-calc414(24);
            h3{font-size: vw-calc414(60);margin-bottom: vw-calc414(24);}
            p{font-size: vw-calc414(20);line-height: vw-calc414(35);margin-left: vw-calc414(18);}
        }
        .slide2 .txtwrap{top: 77.966184vw;}
        .slide1 .arrowright{top: vw-calc414(302);left: vw-calc414(255);}
        .slide2 .arrowright{top: vw-calc414(197);left: vw-calc414(280);}
        .slide3 .arrowright{top: vw-calc414(234);left: vw-calc414(165);}
        .controller{
            padding: 0 vw-calc414(40) vw-calc414(36) vw-calc414(50);height: vw-calc414(73);
            .m-slick-pagination{
                .m-slick-dots{
                    width: vw-calc414(70);font-size: vw-calc414(20);
                    li{
                        button::before{width: vw-calc414(414);}
                    }
                    li.slick-active{font-size: vw-calc414(22);}
                }
            }

            .slick-auto button{
                margin-right: vw-calc414(-30);
                i::before{font-size: vw-calc414(50);color: rgba(255, 255, 255, .8)}
            }
        }
    }
    @include keyframes(loadingBar) {
        0%{width: 0;}
        100%{width: vw-calc414(414);}
    }

    //#cnt2
    #cnt2{
        .cnt2_wrap{
            display: grid;grid-template-rows: 100px 835px 835px 835px 835px;grid-template-columns: 100%;
            div{
                img{
                width: 400px;height: 533px;}
            }
            .photo{
                @include flex;
                @include justify-content(space-between);
                @include flex-direction(column-reverse);
                @include flex-wrap;
                position: relative; 
                grid-column: 1;
                
            }
            .mcnt2_tit{
                font-size: 80px;line-height: 80px; color: #dadada;margin-top: 40px;
                span:nth-child(2){display: block;margin-left: 54px;}
            }
            .photo1, .photo3{
                @include flex-direction(column-reverse);margin-right: 68px;
                img{box-shadow: 30px 30px 0 rgba(127, 127, 127, 0.17);}
                //.mcnt2_tit{@include transform(translate(200px,0))}
            }
            //.photo{&.fade{@include transform(translate(0,0))}}
            .photo2{
                margin-left: 65px;
                img{box-shadow: -30px 10px 0 rgba(218, 218, 218, .17);}
            }
            .photo4{
                margin-left: 52px;
                img{box-shadow: -30px 10px 0 rgba(218, 218, 218, .17);}
            }
            div:nth-child(1){
                @include flex;
                @include justify-content;
                @include align-items;
                grid-row: 1;grid-column: 1;background: #fff;
                .border{
                    position: static; width: 657px;height: 298px;margin: 0 auto;
                    &::before{content: "";position: absolute; width: 657px;height: 298px;top: 50px;left: 0;border: 2px solid transparent}
                }
                h2{
                    position: relative;padding-top: 30px;width: 400px;margin: 0 auto;z-index: 1;background: #fff;
                }
                p{padding: 50px 0 35px 0;text-align: center;font-size: 30px;line-height: 1.2;}
                a{
                    margin: 0 255px;line-height: 20px;vertical-align: middle;padding: 14px 18px 14px 30px;
                    &::after{left: 16px;}
                }
            }
            .btn_more{position: absolute;}
            .photo1{
                grid-row: 2;
                .btn_more{right: 0;top: 100px;}
            }
            .photo2{
                grid-row: 3;
                .btn_more{left: 0;top: 140px;}
            }
            .photo3{
                grid-row: 4;
                .btn_more{right: -40px;top: 100px;}
            }
            .photo4{
                grid-row: 5;
                .btn_more{left: 0;top: 220px;}
            }
            .photo{
                position: relative;
                .hover_box{position: absolute;top: 0;left: 0;bottom: 0;right: 0;}
                .hover_info{
                    position: absolute;font-size: 18px;text-align: center;height: 200px;top: 0;left: 0;
                    &::before{
                        @include animation(cnt2Hover 2s 0.2s infinite forwards);
                        content: "";position: absolute;width: 70px;height: 70px;bottom: -80px;left: 37px;background: rgba(0, 0, 0, .5) url("../images/main/cnt2-hover.png") no-repeat 50%;border-radius: 50%;z-index: 100;
                    }
                    p{position: relative;z-index: 100; width: 144px;background: #fff;border-radius: 20px;border: solid 1px #4e4e4e;visibility: hidden;overflow: hidden;max-height: 0px;}
                    &.on p{visibility: visible;overflow: visible;max-height: 200px;}
                    span{display: inline-block;} 
                    span{display: inline-block;}
                    .blueTxt{font-size: 25px;color: $lBlue;font-family: Roboto;margin-top: 17px;}
                    .nameTxt{font-size: 18px;color: $lGray;margin: 17px 0;}
                    .price{font-size: 18px;color: $dGray;line-height: 1.2;margin-bottom: 17px;}
                }
                .hover_box1{
                    .info1{
                        top: 0;left: 0;
                        &::before{animation-delay: 3s;}
                    }
                    .info2{top: 50px;left: 230px;}
                }
                .hover_box2{
                    .info1{top: 10px;left: 400px;}
                    .info2{
                        top: 50px;right: 50px;
                        &::before{animation-delay: 3s;}
                    }
                }
                .hover_box3{
                    .info1{
                        top: 20px;right: 50px;
                        &::before{animation-delay: 3s;}
                    }
                    .info2{top: 30px;left: calc(50% - 100px);}
                }
                .hover_box4{
                    .info1{top: 0;left: 400px;}
                    .info2{
                        top: 50px;left: 500px;;
                        &::before{animation-delay: 3s;}
                    }
                }
                .hover_info:hover::before{@include animation(rotate 2s 0.2s infinite);}

                
            }
        }
    }
    


    #cnt3{
        padding: 0 vw-calc414(20);height: 225vh;
        &::before{width: vw-calc414(1600);height: vw-calc414(1600); top: vw-calc414(-38);left: vw-calc414(-1078);}    
        #atc1{
            padding: vw-calc414(140) 0;
            h2{font-size: vw-calc414(40);}
            .search{
                margin-top: vw-calc414(20);
                input{width: vw-calc414(190);height: vw-calc414(25);border-width: vw-calc414(1);border-radius: vw-calc414(4);padding-left: vw-calc414(4);font-size: vw-calc414(12);}
                button img{margin-left: vw-calc414(15);}
            }
            ul{
                margin-top: vw-calc414(80);margin-left: vw-calc414(-24);
                li{
                    margin-top: vw-calc414(43);width: vw-calc414(50);height: vw-calc414(85);
                    img{width: vw-calc414(50);margin-left: vw-calc414(12);}
                    p{padding-top: vw-calc414(8);font-size: vw-calc414(15);width: 75px;}
                }
                li + li{margin-left: vw-calc414(50);}
                li:nth-child(1), li:nth-child(2), li:nth-child(3), li:nth-child(4){margin-top: 0;}
            }
        }
        #atc2{
            height: 34%;
            &::before{bottom: -480px;width: 413px;height: 413px;right: -338px;}
    
            #atcTab{
                @include justify-content;
                @include align-items;
                @include flex-direction;
                margin-top: 150px;
    
                ul{
                    width: 290px;height: 40px;/* border-radius: 40px; *//* font-size: 18px; *//* margin-top: 300px;box-shadow: 0 5px 15px rgba(0, 0, 0, .3); */
                    .tab{
                        display: inline-block;width: 93px;height: 100%;line-height: 2.3;
                        &::after{
                            top: 30px;left: 44%;/* width: 1px;height: 1px; */border-right-width: 6px;border-top-width: 19px;border-bottom: none;border-left: 6px solid transparent;
                        }
                    }
                    .tab.active{
                        /* border-radius: 30px; */height: 100%;
                        &::after{
                            @include transform(translateY(8px));
                            border-top-color: #0E4970;border-right-color: transparent;
                        }
                    }
                }
                .tabpanel{/* width: 1185px;height: 1000px; */margin-top: 55px;}
                .swiper-container{
                    .swiper-slide{
                        @include align-items;
                        @include flex-direction(column);
                        @include flex-wrap;
                        img{margin-left: 0;width: 340px;}
                        position: relative;
                    }
                    .controller{
                        /* height: 190px; */margin-top: 135px;
                        .swiper-pagination{
                           margin: 0 20px;
                            .swiper-pagination-bullet{
                                @include transform(translateX(-12px));
                                width: 60px;height: 50px;
                            }
                            span + span{margin-left: 12px;}     
                        }
                        .swiper-scrollbar{width: 26%;/* height: 7px; */bottom: 92px;left: 37%;}
                    }
                }
                .tabTxt{
                    margin-top: 0;margin-left: 0px;
                    #txtTop{
                        position: relative; width: 212%;
                        h2{padding-top: 33px;}
                        .name_price{
                            margin: 15px 0 14px 0;
                            p{
                                /* width: 250px; */
                                /* span:nth-child(1){font-size: 22px;line-height: 35px;} */
                                span:nth-child(2){ /* font-size: 30px;line-height: 35px; */margin-top: 30px;text-align: left;
                                }
                            }
                        }
                        a{position: absolute; margin-left: 10px;bottom: 2%;right: 50%;}
                    }
                    #txtBottom{
                        position: absolute; margin-top: 48px;bottom: -60px;left: 40%;width: 100%;
                        /* .tip{
                            padding: 0 35px 0 20px;
                            &::after{top: 6px;width: 1px;height: 1px;border-left: 11px solid #777777;border-top: 6px solid transparent;border-bottom: 6px solid transparent;}
                        } */
                        /* .wish{
                            padding-left: 25px;
                            &::after{width: 17px;height: 15px; top: 6px;}
                        } */
                    }
                }
                /* #tabpanel2{
                    #txtTop{
                        span:nth-child(2){font-size: 15px;}
                        span:nth-child(3){font-size: 30px;line-height: 35px;}
                    }
                } */
            }
        }

    }

    #cnt4{
        height: vw-calc414(600);
        .txtbox{
            padding: vw-calc414(28) 0 vw-calc414(26) 0;
            .tit{margin: vw-calc414(9) 0 vw-calc414(35);font-size: vw-calc414(25);letter-spacing: vw-calc414(3);}
        }
        .golive{
            bottom: vw-calc414(55);left: vw-calc414(15);font-size: 14px;
            a::after{
                width: vw-calc414(20);height: vw-calc414(21);
            }
            .prev{padding-left: vw-calc414(43);padding-right: vw-calc414(50);}
            .next{padding-right: vw-calc414(43);}
        }
        .time_img{
            width: vw-calc414(385);height: vw-calc414(278);top: vw-calc414(220);
            .photo_box{
                .mask{top: vw-calc414(7.4);left: vw-calc414(7.6);width: vw-calc414(370);height: vw-calc414(263);border-radius: vw-calc414(20);}
            }
            .photo_effect{
                width: vw-calc414(424);height: vw-calc414(268);
            }
            .timer{width: vw-calc414(377);height: vw-calc414(105);font-size: vw-calc414(21);padding: vw-calc414(20) 0;}
        }
    }


}